.dark-medium-contrast {
  --md-sys-color-primary: rgb(255 215 131);
  --md-sys-color-surface-tint: rgb(233 193 108);
  --md-sys-color-on-primary: rgb(50 35 0);
  --md-sys-color-primary-container: rgb(175 140 61);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(159 231 255);
  --md-sys-color-on-secondary: rgb(0 42 52);
  --md-sys-color-secondary-container: rgb(78 155 178);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(255 210 208);
  --md-sys-color-on-tertiary: rgb(72 19 21);
  --md-sys-color-tertiary-container: rgb(203 122 121);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(72 19 15);
  --md-sys-color-error-container: rgb(204 123 114);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(23 19 11);
  --md-sys-color-on-background: rgb(235 225 212);
  --md-sys-color-surface: rgb(23 19 11);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(77 70 57);
  --md-sys-color-on-surface-variant: rgb(231 219 201);
  --md-sys-color-outline: rgb(187 177 160);
  --md-sys-color-outline-variant: rgb(153 143 127);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(235 225 212);
  --md-sys-color-inverse-on-surface: rgb(46 41 33);
  --md-sys-color-inverse-primary: rgb(93 68 0);
  --md-sys-color-primary-fixed: rgb(255 223 158);
  --md-sys-color-on-primary-fixed: rgb(25 16 0);
  --md-sys-color-primary-fixed-dim: rgb(233 193 108);
  --md-sys-color-on-primary-fixed-variant: rgb(71 51 0);
  --md-sys-color-secondary-fixed: rgb(178 235 255);
  --md-sys-color-on-secondary-fixed: rgb(0 20 26);
  --md-sys-color-secondary-fixed-dim: rgb(134 209 234);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 60 73);
  --md-sys-color-tertiary-fixed: rgb(255 218 216);
  --md-sys-color-on-tertiary-fixed: rgb(44 1 4);
  --md-sys-color-tertiary-fixed-dim: rgb(255 179 177);
  --md-sys-color-on-tertiary-fixed-variant: rgb(94 35 36);
  --md-sys-color-surface-dim: rgb(23 19 11);
  --md-sys-color-surface-bright: rgb(74 68 58);
  --md-sys-color-surface-container-lowest: rgb(10 7 3);
  --md-sys-color-surface-container-low: rgb(34 29 21);
  --md-sys-color-surface-container: rgb(44 39 31);
  --md-sys-color-surface-container-high: rgb(55 50 41);
  --md-sys-color-surface-container-highest: rgb(67 61 52);
}
