.dark {
  --md-sys-color-primary: rgb(233 193 108);
  --md-sys-color-surface-tint: rgb(233 193 108);
  --md-sys-color-on-primary: rgb(63 46 0);
  --md-sys-color-primary-container: rgb(91 67 0);
  --md-sys-color-on-primary-container: rgb(255 223 158);
  --md-sys-color-secondary: rgb(134 209 234);
  --md-sys-color-on-secondary: rgb(0 54 66);
  --md-sys-color-secondary-container: rgb(0 78 95);
  --md-sys-color-on-secondary-container: rgb(178 235 255);
  --md-sys-color-tertiary: rgb(255 179 177);
  --md-sys-color-on-tertiary: rgb(87 29 31);
  --md-sys-color-tertiary-container: rgb(115 51 51);
  --md-sys-color-on-tertiary-container: rgb(255 218 216);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(86 30 25);
  --md-sys-color-error-container: rgb(115 51 45);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(23 19 11);
  --md-sys-color-on-background: rgb(235 225 212);
  --md-sys-color-surface: rgb(23 19 11);
  --md-sys-color-on-surface: rgb(235 225 212);
  --md-sys-color-surface-variant: rgb(77 70 57);
  --md-sys-color-on-surface-variant: rgb(208 197 180);
  --md-sys-color-outline: rgb(153 143 128);
  --md-sys-color-outline-variant: rgb(77 70 57);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(235 225 212);
  --md-sys-color-inverse-on-surface: rgb(53 48 39);
  --md-sys-color-inverse-primary: rgb(119 90 11);
  --md-sys-color-primary-fixed: rgb(255 223 158);
  --md-sys-color-on-primary-fixed: rgb(38 26 0);
  --md-sys-color-primary-fixed-dim: rgb(233 193 108);
  --md-sys-color-on-primary-fixed-variant: rgb(91 67 0);
  --md-sys-color-secondary-fixed: rgb(178 235 255);
  --md-sys-color-on-secondary-fixed: rgb(0 31 39);
  --md-sys-color-secondary-fixed-dim: rgb(134 209 234);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 78 95);
  --md-sys-color-tertiary-fixed: rgb(255 218 216);
  --md-sys-color-on-tertiary-fixed: rgb(59 8 12);
  --md-sys-color-tertiary-fixed-dim: rgb(255 179 177);
  --md-sys-color-on-tertiary-fixed-variant: rgb(115 51 51);
  --md-sys-color-surface-dim: rgb(23 19 11);
  --md-sys-color-surface-bright: rgb(62 56 47);
  --md-sys-color-surface-container-lowest: rgb(18 14 7);
  --md-sys-color-surface-container-low: rgb(31 27 19);
  --md-sys-color-surface-container: rgb(36 31 23);
  --md-sys-color-surface-container-high: rgb(46 41 33);
  --md-sys-color-surface-container-highest: rgb(57 52 43);
}
